# system files
.idea
bin
lib
.Python
pyvenv.cfg
.DS_Store
__pycache__/
*.py[cod]

# private data
configuration.json

# unnecessary files
deprecated_code
music/
*.mp3

# future file
modules/button
modules/MusicQueue.py
modules/games/TicTacToe.py