# system files
.idea
bin
lib
.Python
pyvenv.cfg
.DS_Store
__pycache__/
*.py[cod]

# private data
util/configuration.json

# unnecessary files
etc
share
deprecated_code
/music
*.mp3
images
build
dist
bot_example.spec

# tests will appear in future
test

# future files
modules/button
modules/games/TicTacToe.py
modules/music/vk_music_integration.py
modules/music/youtube_music_integration.py
